In [209]:
import pandas as pd
import json
import requests
import warnings 
warnings.filterwarnings('ignore')

import time

In [132]:
df = pd.read_csv('tweets.csv')

df = df[['author_id', 'in_reply_to_user_id','created_at', 'text', 'lang', 'entities.mentions']]

df

,author_id,in_reply_to_user_id,created_at,text,lang,entities.mentions
0,28882400,44196397,2022-09-27T21:12:55.000Z,@elonmusk @WholeMarsBlog Backwards compatibili...,en,"[{""start"": 0, ""end"": 9, ""username"": ""elonmusk""..."
1,8.99644E+17,1.48281E+18,2022-09-27T21:12:45.000Z,@Spartal138 @Bscgemalerts @mogulofficial_ @elo...,qam,"[{""start"": 0, ""end"": 11, ""username"": ""Spartal1..."
2,1.24169E+18,44196397,2022-09-27T21:12:40.000Z,@elonmusk Especially the evidence frozen embry...,en,"[{""start"": 0, ""end"": 9, ""username"": ""elonmusk""..."
3,1.39827E+18,1.39913E+18,2022-09-27T21:12:37.000Z,@RealDanODowd @WholeMarsBlog @elonmusk @Tesla ...,qme,"[{""start"": 0, ""end"": 13, ""username"": ""RealDanO..."
4,1.49689E+18,1.01606E+18,2022-09-27T21:12:28.000Z,@teslaownersSV @SpaceX @elonmusk Vala Afshar\n...,en,"[{""start"": 0, ""end"": 14, ""username"": ""teslaown..."
...,...,...,...,...,...,...
845,387212306,44196397,2022-09-27T20:17:26.000Z,@elonmusk Why doesnt you son talk about‚Ä¶üòè‚Ä¶the ...,en,"[{""start"": 0, ""end"": 9, ""username"": ""elonmusk""..."
846,1.49095E+18,9.1297E+17,2022-09-27T20:17:26.000Z,@klwtts @Tesla @elonmusk Why on earth would yo...,en,"[{""start"": 0, ""end"": 7, ""username"": ""klwtts"", ..."
847,496949253,1.45554E+18,2022-09-27T20:17:17.000Z,@oracletim1 @Openskies13 @TeslaSynopsis @elonm...,en,"[{""start"": 0, ""end"": 11, ""username"": ""oracleti..."
848,15803272,529624233,2022-09-27T20:17:15.000Z,@MSalasBlair @elonmusk No I really think he go...,en,"[{""start"": 0, ""end"": 12, ""username"": ""MSalasBl..."
849,295249488,44196397,2022-09-27T20:17:04.000Z,@elonmusk Too bad you missed a chance to educa...,en,"[{""start"": 0, ""end"": 9, ""username"": ""elonmusk""..."

In [133]:
## getting the tweets in English

eng_df = df.loc[df['lang']=='en']

eng_df

,author_id,in_reply_to_user_id,created_at,text,lang,entities.mentions
0,28882400,44196397,2022-09-27T21:12:55.000Z,@elonmusk @WholeMarsBlog Backwards compatibili...,en,"[{""start"": 0, ""end"": 9, ""username"": ""elonmusk""..."
2,1.24169E+18,44196397,2022-09-27T21:12:40.000Z,@elonmusk Especially the evidence frozen embry...,en,"[{""start"": 0, ""end"": 9, ""username"": ""elonmusk""..."
4,1.49689E+18,1.01606E+18,2022-09-27T21:12:28.000Z,@teslaownersSV @SpaceX @elonmusk Vala Afshar\n...,en,"[{""start"": 0, ""end"": 14, ""username"": ""teslaown..."
5,71995189,1.10345E+18,2022-09-27T21:12:26.000Z,"@StatsTeslaApp @elonmusk Yes. What‚Äôs bad, is i...",en,"[{""start"": 0, ""end"": 14, ""username"": ""StatsTes..."
6,7.20651E+17,44196397,2022-09-27T21:12:26.000Z,@elonmusk Am wishing for that dear Fellow Inno...,en,"[{""start"": 0, ""end"": 9, ""username"": ""elonmusk""..."
...,...,...,...,...,...,...
845,387212306,44196397,2022-09-27T20:17:26.000Z,@elonmusk Why doesnt you son talk about‚Ä¶üòè‚Ä¶the ...,en,"[{""start"": 0, ""end"": 9, ""username"": ""elonmusk""..."
846,1.49095E+18,9.1297E+17,2022-09-27T20:17:26.000Z,@klwtts @Tesla @elonmusk Why on earth would yo...,en,"[{""start"": 0, ""end"": 7, ""username"": ""klwtts"", ..."
847,496949253,1.45554E+18,2022-09-27T20:17:17.000Z,@oracletim1 @Openskies13 @TeslaSynopsis @elonm...,en,"[{""start"": 0, ""end"": 11, ""username"": ""oracleti..."
848,15803272,529624233,2022-09-27T20:17:15.000Z,@MSalasBlair @elonmusk No I really think he go...,en,"[{""start"": 0, ""end"": 12, ""username"": ""MSalasBl..."
849,295249488,44196397,2022-09-27T20:17:04.000Z,@elonmusk Too bad you missed a chance to educa...,en,"[{""start"": 0, ""end"": 9, ""username"": ""elonmusk""..."

In [134]:
eng_df.text = eng_df.text.str.extract('(.*)@(.*)')[1].str.replace('elonmusk', '')

eng_df

,author_id,in_reply_to_user_id,created_at,text,lang,entities.mentions
0,28882400,44196397,2022-09-27T21:12:55.000Z,WholeMarsBlog Backwards compatibility ‚ò†Ô∏è,en,"[{""start"": 0, ""end"": 9, ""username"": ""elonmusk""..."
2,1.24169E+18,44196397,2022-09-27T21:12:40.000Z,Especially the evidence frozen embryo inspiri...,en,"[{""start"": 0, ""end"": 9, ""username"": ""elonmusk""..."
4,1.49689E+18,1.01606E+18,2022-09-27T21:12:28.000Z,SpaceX\n rocket landing comes to mind\nFrom \n...,en,"[{""start"": 0, ""end"": 14, ""username"": ""teslaown..."
5,71995189,1.10345E+18,2022-09-27T21:12:26.000Z,"Yes. What‚Äôs bad, is if I was rocking out when...",en,"[{""start"": 0, ""end"": 14, ""username"": ""StatsTes..."
6,7.20651E+17,44196397,2022-09-27T21:12:26.000Z,Am wishing for that dear Fellow Innovator.,en,"[{""start"": 0, ""end"": 9, ""username"": ""elonmusk""..."
...,...,...,...,...,...,...
845,387212306,44196397,2022-09-27T20:17:26.000Z,Why doesnt you son talk about‚Ä¶üòè‚Ä¶the enormous ...,en,"[{""start"": 0, ""end"": 9, ""username"": ""elonmusk""..."
846,1.49095E+18,9.1297E+17,2022-09-27T20:17:26.000Z,Why on earth would you want a Model X that pi...,en,"[{""start"": 0, ""end"": 7, ""username"": ""klwtts"", ..."
847,496949253,1.45554E+18,2022-09-27T20:17:17.000Z,Scobleizer I read that,en,"[{""start"": 0, ""end"": 11, ""username"": ""oracleti..."
848,15803272,529624233,2022-09-27T20:17:15.000Z,No I really think he got high with Joe after ...,en,"[{""start"": 0, ""end"": 12, ""username"": ""MSalasBl..."
849,295249488,44196397,2022-09-27T20:17:04.000Z,Too bad you missed a chance to educate your s...,en,"[{""start"": 0, ""end"": 9, ""username"": ""elonmusk""..."

In [135]:
eng_df.text = eng_df.text.str.replace(r'\n', ' ', regex = False)

eng_df

,author_id,in_reply_to_user_id,created_at,text,lang,entities.mentions
0,28882400,44196397,2022-09-27T21:12:55.000Z,WholeMarsBlog Backwards compatibility ‚ò†Ô∏è,en,"[{""start"": 0, ""end"": 9, ""username"": ""elonmusk""..."
2,1.24169E+18,44196397,2022-09-27T21:12:40.000Z,Especially the evidence frozen embryo inspiri...,en,"[{""start"": 0, ""end"": 9, ""username"": ""elonmusk""..."
4,1.49689E+18,1.01606E+18,2022-09-27T21:12:28.000Z,SpaceX rocket landing comes to mind From JM ...,en,"[{""start"": 0, ""end"": 14, ""username"": ""teslaown..."
5,71995189,1.10345E+18,2022-09-27T21:12:26.000Z,"Yes. What‚Äôs bad, is if I was rocking out when...",en,"[{""start"": 0, ""end"": 14, ""username"": ""StatsTes..."
6,7.20651E+17,44196397,2022-09-27T21:12:26.000Z,Am wishing for that dear Fellow Innovator.,en,"[{""start"": 0, ""end"": 9, ""username"": ""elonmusk""..."
...,...,...,...,...,...,...
845,387212306,44196397,2022-09-27T20:17:26.000Z,Why doesnt you son talk about‚Ä¶üòè‚Ä¶the enormous ...,en,"[{""start"": 0, ""end"": 9, ""username"": ""elonmusk""..."
846,1.49095E+18,9.1297E+17,2022-09-27T20:17:26.000Z,Why on earth would you want a Model X that pi...,en,"[{""start"": 0, ""end"": 7, ""username"": ""klwtts"", ..."
847,496949253,1.45554E+18,2022-09-27T20:17:17.000Z,Scobleizer I read that,en,"[{""start"": 0, ""end"": 11, ""username"": ""oracleti..."
848,15803272,529624233,2022-09-27T20:17:15.000Z,No I really think he got high with Joe after ...,en,"[{""start"": 0, ""end"": 12, ""username"": ""MSalasBl..."
849,295249488,44196397,2022-09-27T20:17:04.000Z,Too bad you missed a chance to educate your s...,en,"[{""start"": 0, ""end"": 9, ""username"": ""elonmusk""..."

In [136]:
## parsing through the mentions on the tweets, converting the string objects into json format then getting the usernames
## also recording the unparsable object indexes for removal to ease the creation of the mentions column

mentions = []
missing = []

for no, element in  enumerate(eng_df['entities.mentions']):
    
    try: 
    
        json_object = json.loads(element)

        usernames = []
    
        for record in json_object: 

            usernames.append(record['username'])

        mentions.append(usernames)
        
    except:
        missing.append(no)
        pass

In [137]:
## creating a new index on the english dataframe then dropping the initial index
eng_df.reset_index(inplace = True)
eng_df.drop('index', axis = 1, inplace =True)

## dropping the records in the missing list. 
eng_df.drop(index = missing, inplace =True)

In [138]:
## creating a new index after dropping the missing records
eng_df.reset_index(inplace = True)

##removing the initial index
eng_df.drop('index', axis = 1, inplace =True)

## creating the mentions column

mentions_s = pd.Series(mentions)

eng_df = eng_df.assign(mentions = mentions_s)


## dropping the entites.mentions column
eng_df.drop('entities.mentions', axis =1, inplace = True)

## converting the created_at column to datetime
eng_df.created_at = pd.to_datetime(eng_df.created_at)

,author_id,in_reply_to_user_id,created_at,text,lang,mentions
0,28882400,44196397,2022-09-27T21:12:55.000Z,WholeMarsBlog Backwards compatibility ‚ò†Ô∏è,en,"[elonmusk, WholeMarsBlog]"
1,1.24169E+18,44196397,2022-09-27T21:12:40.000Z,Especially the evidence frozen embryo inspiri...,en,[elonmusk]
2,1.49689E+18,1.01606E+18,2022-09-27T21:12:28.000Z,SpaceX rocket landing comes to mind From JM ...,en,"[teslaownersSV, SpaceX, elonmusk, ValaAfshar, ..."
3,71995189,1.10345E+18,2022-09-27T21:12:26.000Z,"Yes. What‚Äôs bad, is if I was rocking out when...",en,"[StatsTeslaApp, elonmusk]"
4,7.20651E+17,44196397,2022-09-27T21:12:26.000Z,Am wishing for that dear Fellow Innovator.,en,[elonmusk]
...,...,...,...,...,...,...
581,387212306,44196397,2022-09-27T20:17:26.000Z,Why doesnt you son talk about‚Ä¶üòè‚Ä¶the enormous ...,en,[elonmusk]
582,1.49095E+18,9.1297E+17,2022-09-27T20:17:26.000Z,Why on earth would you want a Model X that pi...,en,"[klwtts, Tesla, elonmusk]"
583,496949253,1.45554E+18,2022-09-27T20:17:17.000Z,Scobleizer I read that,en,"[oracletim1, Openskies13, TeslaSynopsis, elonm..."
584,15803272,529624233,2022-09-27T20:17:15.000Z,No I really think he got high with Joe after ...,en,"[MSalasBlair, elonmusk]"
585,295249488,44196397,2022-09-27T20:17:04.000Z,Too bad you missed a chance to educate your s...,en,[elonmusk]

In [193]:
## clean dataframe containing the text of the tweets, author ids, reply_id and the mentions. 
eng_df

,author_id,in_reply_to_user_id,created_at,text,lang,mentions
0,28882400,44196397,2022-09-27 21:12:55+00:00,WholeMarsBlog Backwards compatibility ‚ò†Ô∏è,en,"[elonmusk, WholeMarsBlog]"
1,1.24169E+18,44196397,2022-09-27 21:12:40+00:00,Especially the evidence frozen embryo inspiri...,en,[elonmusk]
2,1.49689E+18,1.01606E+18,2022-09-27 21:12:28+00:00,SpaceX rocket landing comes to mind From JM ...,en,"[teslaownersSV, SpaceX, elonmusk, ValaAfshar, ..."
3,71995189,1.10345E+18,2022-09-27 21:12:26+00:00,"Yes. What‚Äôs bad, is if I was rocking out when...",en,"[StatsTeslaApp, elonmusk]"
4,7.20651E+17,44196397,2022-09-27 21:12:26+00:00,Am wishing for that dear Fellow Innovator.,en,[elonmusk]
...,...,...,...,...,...,...
581,387212306,44196397,2022-09-27 20:17:26+00:00,Why doesnt you son talk about‚Ä¶üòè‚Ä¶the enormous ...,en,[elonmusk]
582,1.49095E+18,9.1297E+17,2022-09-27 20:17:26+00:00,Why on earth would you want a Model X that pi...,en,"[klwtts, Tesla, elonmusk]"
583,496949253,1.45554E+18,2022-09-27 20:17:17+00:00,Scobleizer I read that,en,"[oracletim1, Openskies13, TeslaSynopsis, elonm..."
584,15803272,529624233,2022-09-27 20:17:15+00:00,No I really think he got high with Joe after ...,en,"[MSalasBlair, elonmusk]"
585,295249488,44196397,2022-09-27 20:17:04+00:00,Too bad you missed a chance to educate your s...,en,[elonmusk]

In [197]:
## getting the start and end time of the tweets
end_time = eng_df.created_at.max()

start_time = eng_df.created_at.min()

In [164]:
# fetching tesla stock data 
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=TSLA&interval=5min&outputsize=full&apikey=89RGQELIBJ0IF61Z'
r = requests.get(url)
data = r.json()

In [191]:
counter = 0

for k,v in data['Time Series (5min)'].items():
    
    data_dict = {}
    
    for key, value in v.items(): 
        
        data_dict[key[3:]] = float(value)
        
    ##creating a dataframe
    
    df = pd.DataFrame(data_dict, index=[0])
    
    df['Date'] = k
    
    if counter ==0: 
        
        total_df = df
        
        counter +=1
    
    else: 
        
        total_df = pd.concat([total_df, df])
    
    

total_df

      open    high     low   close   volume                 Date
0   269.49  269.57  268.75  269.21  32968.0  2022-09-29 20:00:00
0   269.52  269.52  269.24  269.44  16873.0  2022-09-29 19:55:00
0   269.40  269.60  269.40  269.52  12791.0  2022-09-29 19:50:00
0   269.12  269.66  269.12  269.59  13763.0  2022-09-29 19:45:00
0   269.06  269.19  269.03  269.10   8909.0  2022-09-29 19:40:00
..     ...     ...     ...     ...      ...                  ...
0   270.67  270.99  270.64  270.66  10561.0  2022-09-01 04:25:00
0   270.88  270.88  270.55  270.80   8216.0  2022-09-01 04:20:00
0   270.70  270.89  270.61  270.85   8035.0  2022-09-01 04:15:00
0   270.61  271.29  270.51  270.90  10580.0  2022-09-01 04:10:00
0   271.57  272.66  270.16  270.54  36561.0  2022-09-01 04:05:00

[3818 rows x 6 columns]

In [201]:
## getting Tesla stock dataframe
stock_df = total_df[['Date', 'open', 'high', 'low', 'close', 'volume']]

stock_df

                   Date    open    high     low   close   volume
0   2022-09-29 20:00:00  269.49  269.57  268.75  269.21  32968.0
0   2022-09-29 19:55:00  269.52  269.52  269.24  269.44  16873.0
0   2022-09-29 19:50:00  269.40  269.60  269.40  269.52  12791.0
0   2022-09-29 19:45:00  269.12  269.66  269.12  269.59  13763.0
0   2022-09-29 19:40:00  269.06  269.19  269.03  269.10   8909.0
..                  ...     ...     ...     ...     ...      ...
0   2022-09-01 04:25:00  270.67  270.99  270.64  270.66  10561.0
0   2022-09-01 04:20:00  270.88  270.88  270.55  270.80   8216.0
0   2022-09-01 04:15:00  270.70  270.89  270.61  270.85   8035.0
0   2022-09-01 04:10:00  270.61  271.29  270.51  270.90  10580.0
0   2022-09-01 04:05:00  271.57  272.66  270.16  270.54  36561.0

[3818 rows x 6 columns]